In [1]:
from google.colab import drive
drive.mount("/content/data")

Mounted at /content/data

In [2]:
cd /content/data/MyDrive/data

/content/data/MyDrive/data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
ls

 50_Startups.csv               glass.csv
 Airlines+Data.xlsx            GLAXO.csv
 bank-full1.csv                iris.csv
 bank-full.csv                 LabTAT.csv
 BEML.csv                      movie_assoc.csv
 book.csv                      Movie.csv
 book_rec.csv                  my_movies.csv
 BuyerRatio.csv                mywt.kmw.data-00000-of-00001
 Cars.csv                      mywt.kmw.index
 checkpoint                    negative-words.txt
 claimants.csv                 NLP-food-review.csv
 CocaCola_Sales_Rawdata.xlsx   pima-indians-diabetes.csv
 Company_Data.csv              positive-words.txt
 Costomer+OrderForm.csv        question1boxplot.png
 crime_data.csv                Question1piechart.png
 Cutlets.csv                   Salary_Data.csv
 delivery_time.csv             SalaryData_Test.csv
 diabetes.csv                  SalaryData_Train.csv
 EastWestAirlines.csv          statistics1.csv
 EastWestAirlines.xlsx         statistics1.xlsx
 Elon_musk.csv                 stop.txt
 Elon_musk_p_n.csv             stop.xlsx
 fig.jpg                       Titanic.csv
'forestfires(1).csv'           ToyotaCorolla.csv
 forestfires.csv               wc-at.csv
 Fraud_check.csv               wine.csv
 gas_turbines.csv              Zoo.csv

In [5]:
data=pd.read_csv("Cutlets.csv")

In [6]:
data.head(5)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [7]:
# H0 = There is no difference between diameter of cutlets
# H1 = There is a difference between diameter of cutlets

In [9]:
unitA=pd.Series(data.iloc[:,0])
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [10]:
unitB=pd.Series(data.iloc[:,1])
unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [12]:
import scipy.stats as st

In [15]:
p_value=st.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [16]:
p_value[1]

0.4722394724599501

In [17]:
# As our p_value value is less than alpha So we reject the null hypothesis
# So there is a difference between diameter of cutlets between two units