In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
cd /content/drive/MyDrive/data

/content/drive/MyDrive/data

In [3]:
ls

 50_Startups.csv               glass.csv
 Airlines+Data.xlsx            GLAXO.csv
 bank-full1.csv                iris.csv
 bank-full.csv                 LabTAT.csv
 BEML.csv                      movie_assoc.csv
 book.csv                      Movie.csv
 book_rec.csv                  my_movies.csv
 BuyerRatio.csv                mywt.kmw.data-00000-of-00001
 Cars.csv                      mywt.kmw.index
 checkpoint                    negative-words.txt
 claimants.csv                 NLP-food-review.csv
 CocaCola_Sales_Rawdata.xlsx   pima-indians-diabetes.csv
 Company_Data.csv              positive-words.txt
 Costomer+OrderForm.csv        question1boxplot.png
 crime_data.csv                Question1piechart.png
 Cutlets.csv                   Salary_Data.csv
 delivery_time.csv             SalaryData_Test.csv
 diabetes.csv                  SalaryData_Train.csv
 EastWestAirlines.csv          statistics1.csv
 EastWestAirlines.xlsx         statistics1.xlsx
 Elon_musk.csv                 stop.txt
 Elon_musk_p_n.csv             stop.xlsx
 fig.jpg                       Titanic.csv
'forestfires(1).csv'           ToyotaCorolla.csv
 forestfires.csv               wc-at.csv
 Fraud_check.csv               wine.csv
 gas_turbines.csv              Zoo.csv

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data=pd.read_csv("Costomer+OrderForm.csv")

In [6]:
data.head(5)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [7]:
# H0 = There is no defects in Order Forms
# H1 = There is a defects in Order Forms

In [9]:
print(data.Phillippines.value_counts())
print(data.Indonesia.value_counts())
print(data.Malta.value_counts())
print(data.India.value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [10]:
data = np.array([[271,267,269,280],[29,33,31,20]])
data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [12]:
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import chi2_contingency

In [13]:
chi2_contingency(data)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [14]:
# Chi-square value = 3.8589
# p_value = 0.2771
# degree of freedom = 3
# Expected values
# alpha value = 0.05

In [15]:
# As the p_value is less than alpha value we rejecting the null hypothesis
# So we can tell there is defects in the Customer Order Forms